.ContenedorRedes{
    display: flex;
    justify-content: center;
    background-color: azure;
    width: 60%;
    height: 300px;
    border-radius: 80px;
}
.redes{
    align-items: center;
    padding: 30px;
    display: flex;
    justify-content: center;
   
    
}

.redes a{
    text-decoration: none;
}
.ContenedorFooter{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.derechos{
   display: flex;
   justify-content: center;
}