.linea{
    width: 100%;
}
*{
    color: rgb(229, 236, 243);
}
header{
   display: flex;
   justify-content: space-between;
   margin: 10px;
    height: 80px;
}


.datosHeader{
    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
}



